<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>CSV Upload App</title>
</head>
<body>
 <div class="app-header">
    <h1>CSV Upload App</h1>
 </div>
  
 <div class="upload-block input_containe">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="csvFile">Choose a CSV file:</label>
        <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
        <button class="upload-btn" type="submit">Upload</button>
      </form>
    
 </div>
  <h2>Uploaded Files</h2>
  <ul>
    <% files.forEach((file, index) => { %>
      <li>
        <a href="/data/<%= index %>"><%= file.name %></a>
      </li>
    <% }); %>
  </ul>

  <% if (selectedFile) { %>
    <h3>File: <%= selectedFile.name %></h3>

    <input type="text" id="searchInput" placeholder="Search table content...">
    
    <table id="dataTable">
      <thead>
        <tr>
          <% selectedFile.headers.forEach(header => { %>
            <th><%= header %></th>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% selectedFile.data.forEach(row => { %>
          <tr>
            <% Object.values(row).forEach(value => { %>
              <td><%= value %></td>
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      const searchInput = document.getElementById('searchInput');
      const dataTable = document.getElementById('dataTable');

      searchInput.addEventListener('input', () => {
        const searchValue = searchInput.value.toLowerCase();

        Array.from(dataTable.getElementsByTagName('tr')).forEach(row => {
          const cells = row.getElementsByTagName('td');
          let rowMatchesSearch = false;

          for (let i = 0; i < cells.length; i++) {
            const cellValue = cells[i].textContent.toLowerCase();

            if (cellValue.includes(searchValue)) {
              rowMatchesSearch = true;
              break;
            }
          }

          row.style.display = rowMatchesSearch ? '' : 'none';
        });
      });
    </script>
  <% } %>
</body>
</html>
